<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/maps.css">

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/meny/1.4.0/meny.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>RTC Maps</title>
  </head>

  <body>

<div class='meny'>
  <div class='sidecontents'>
    <h3>Advanced</h3>
    <ul>
      <li>
        <label class='alignLeft' for='toggle-2'>Mock Beacons</label>
        <input class='sw' id='toggle-2' name='toggle' type='checkbox'>
        <label class='alignRight' for='toggle-2'>
          <span></span>
        </label>
      </li>
      <li>
        <label class='alignLeft' for='addmode'>Add Beacon</label>
        <input class='sw' id='addmode' name='toggle' type='checkbox'>
        <label class='alignRight' for='addmode'>
          <span></span>
        </label>
      </li>
      <li>
        <label class='alignLeft' for='addmode'>Add GateWay</label>
        <input class='sw' id='addgateway' name='toggle' type='checkbox'>
        <label class='alignRight' for='addgateway'>
          <span></span>
        </label>
      </li>
      <li>
        <label class='alignLeft' for='addmode'>Edit Devices</label>
        <input class='sw' id='editDevice' name='toggle' type='checkbox'>
        <label class='alignRight' for='editDevice'>
          <span></span>
        </label>
      </li>
    </ul>
  </div>
</div>
<div class='meny-arrow'></div>
<div class='contents'>
  <nav class='navbar navbar-expand-lg navbar-dark' style="background-color: #404347;">
    <div class='container'>
      <a class='navbar-brand' href='/'>RTC Maps</a>
      <button aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbarSupportedContent' data-toggle='collapse' type='button'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
          </li>
        </ul>
        <select id='building' style='width: 27%;'>
          <option selected='true'>Alumini</option>
          <option>Stuart</option>
        </select>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
          </li>
        </ul>
        <select id='floor' style='width: 27%;'>
          <option value='0'>AM-00</option>
          <option selected='true' value='1'>AM-01</option>
          <option value='2'>AM-02</option>
        </select>
      </div>
    </div>
  </nav>
  <div class='svgContainer' id='aluminiSvg'></div>
</div>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/scripts/maps.js"></script>
</html>
