<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/maps.css">

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/meny/1.4.0/meny.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

    <title>RTC Maps</title>
  </head>

  <body>

<div class='meny'>
  <div class='sidecontents'>
    <h3>Advanced</h3>
    <ul>
      <li>
        <label class='alignLeft' for='showBeacons'>Show Beacons</label>
        <input class='sw' id='showBeacons' name='toggle' type='checkbox'>
        <label class='alignRight' for='showBeacons'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 30px">
        <label class='alignLeft' for='showGateways'>Show Gateways</label>
        <input class='sw' id='showGateways' name='toggle' type='checkbox'>
        <label class='alignRight' for='showGateways'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 30px">
        <label class='alignLeft' for='addbeacon'>Add Beacon</label>
        <input class='sw' id='addbeacon' name='toggle' type='checkbox'>
        <label class='alignRight' for='addbeacon'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 30px">
        <label class='alignLeft' for='addgateway'>Add GateWay</label>
        <input class='sw' id='addgateway' name='toggle' type='checkbox'>
        <label class='alignRight' for='addgateway'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 30px">
        <label class='alignLeft' for='addExistingGateway'>Add Existing GateWay</label>
        <input class='sw' id='addExistingGateway' name='toggle' type='checkbox'>
        <label class='alignRight' for='addExistingGateway'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 30px">
        <label class='alignLeft' for='moveDevices'>Move Devices</label>
        <input class='sw' id='moveDevices' name='toggle' type='checkbox'>
        <label class='alignRight' for='moveDevices'>
          <span></span>
        </label>
      </li>
      <li style="margin-top: 40px">
        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search device">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class='meny-arrow'></div>
<div class='contents'>
  <nav class='navbar navbar-expand-lg navbar-dark' style="background-color: #404347;">
    <div class='container'>
      <a class='navbar-brand' href='/'>RTC Maps</a>
      <button aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbarSupportedContent' data-toggle='collapse' type='button'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
          </li>
        </ul>
        <select id='building' style='width: 27%;'>
          <option>Alumini</option>
          <option selected='true'>Stuart</option>
        </select>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
          </li>
        </ul>
        <select id='floor' style='width: 27%;'>
          <option value='0'>SB-00</option>
          <option selected='true' value='1'>SB-01</option>
          <option value='2'>SB-02</option>
        </select>
      </div>
    </div>
  </nav>
  <div class='svgContainer'></div>
</div>

<div class="modal fade" id="beaconForm" tabindex="-1" role="dialog" aria-labelledby="beaconFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id = "registerBeacon">
        <div class="modal-header">
          <h5 class="modal-title" id="beaconFormLabel">Register Beacon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="macAddress">MAC Address</label>
              <input type="text" class="form-control" id="macAddress" name="beacon_id" placeholder="MAC Address" pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$" title="XX:XX:XX:XX:XX:XX" required>
            </div>
            <div class="form-group col-md-6">
              <label for="major">Major</label>
              <input type="text" class="form-control" id="major" name="major" placeholder="Major" required>
            </div>
            <div class="form-group col-md-6">
              <label for="minor">Minor</label>
              <input type="text" class="form-control" id="minor" name="minor" placeholder="Minor" required>
            </div>
            <div class="form-group col-md-6">
              <label for="bType">Beacon Type</label>
              <select class="form-control" id="bType">
                <option>RUUVI</option>
                <option>AXA</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="xValue"><strong>Relative X</strong></label>
              <input type="text" class="form-control" id="xValue" name="x" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="yValue"><strong>Relative Y</strong></label>
              <input type="text" class="form-control" id="yValue" name="y" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="buiding_id"><strong>Buliding ID</strong></label>
              <input type="text" class="form-control" id="building_id" name="building_id" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="floor_id"><strong>Floor</strong></label>
              <input type="text" class="form-control" id="floor_id" name="floor" readonly>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="gatewayForm" tabindex="-1" role="dialog" aria-labelledby="gatewayFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="gatewayFormLabel">Register Gateway</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="major">Major</label>
              <input type="text" class="form-control" id="major" placeholder="Major" required>
            </div>
            <div class="form-group col-md-6">
              <label for="minor">Minor</label>
              <input type="text" class="form-control" id="minor" placeholder="Minor" required>
            </div>
          </div>
          <div class="form-group">
            <label for="gatewayId">Gateway ID</label>
            <input type="text" class="form-control" id="gatewayId" placeholder="Gateway ID" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="xValue"><strong>Relative X</strong></label>
              <input type="text" class="form-control" id="xValue" disabled>
            </div>
            <div class="form-group col-md-6">
              <label for="yValue"><strong>Relative Y</strong></label>
              <input type="text" class="form-control" id="yValue" disabled>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="existingGatewayForm" tabindex="-1" role="dialog" aria-labelledby="existingGatewayFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="registerExistingGateway">
        <div class="modal-header">
          <h5 class="modal-title" id="existingGatewayFormLabel">Add Existing Gateway</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row" style="display: flex; justify-content: center;">
            <div class="form-group">
              <select id='selectGateway' name="gateway_id" data-placeholder="Select a gateway">
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="xValue"><strong>Relative X</strong></label>
              <input type="text" class="form-control" id="xValue" name="x" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="yValue"><strong>Relative Y</strong></label>
              <input type="text" class="form-control" id="yValue" name="y" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="buiding_id"><strong>Buliding ID</strong></label>
              <input type="text" class="form-control" id="building_id" name="building_id" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="floor_id"><strong>Floor</strong></label>
              <input type="text" class="form-control" id="floor_id" name="floor" readonly>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/scripts/maps.js"></script>
</html>
